.source_deps {
    display: block;
    position: relative;
    border-radius: 10px;
    }
.source_deps:empty {
    display: none;
    }
.source_deps p {
    margin: 10px 0 5px;
    }
.source_deps p:first-child {
    margin-top: 0;
    }
.source_deps p:last-child {
    margin-bottom: 0;
    }
body p.source_deps,
.source_deps {
    margin: 20px 33.6% 20px 0;
    padding: 10px 25px;
    background: #f9f9f9;
    }
.source_deps_used-by-specs,
.source_deps_used-specs {
    margin-left: -5px !important;
    }
.source_deps_used-by-specs > li,
.source_deps_used-specs > li {
    list-style-type: none !important;
    }
.source_deps_used-by-specs {
    display: none;
    }
.source_deps_h_expand {
    border-bottom: 1px dashed;
    color: rgb(51,51,51);
    }
.source_deps_h_expand:hover {
    text-decoration: none;
    color: rgb(100,100,100);
    }
